{% extends "parent.html" %}
{% block title %}Contracts{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/table.css">
{% endblock %}
{% block page_name %}Contracts{% endblock %}

{% block body %}
    <div class="container">
        <input id="url_contract_id" type="hidden" value="{{ contract_id }}" />
        <div class="section editor">
            <div>
                <span>Contract ID:</span>
                <span id="contract_id"></span>
            </div>
            <label for="client_name">Client Name
                <input id="client_name" type="text" />
            </label>
            <br />
            <label for="client_address">Client Address
                <input id="client_address" type="text" />
            </label>
            <br />
            <label for="registration_date">Registration Date
                <input id="registration_date" type="date" />
            </label>
            <br />
            <label for="completion_date">Completion Date
                <input id="completion_date" type="date" />
            </label>
            <br />
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="contracts">
            <table>
                <caption>Contracts</caption>
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Client Address</th>
                        <th>Registration Date</th>
                        <th>Completion Date</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
    <div class="error">
    </div>

{% endblock %}

{% block javascript %}
{{ super() }}
<script type="module">
    // Give the imported MVC components a namespace
    import * as MVC from "/static/js/contracts.js";

    // Create an intentional global variable referencing the import
    window.mvc = MVC;
</script>
{% endblock %}